@media(pointer: fine){
    #logo {
        padding: 96px 0;
    }
    #logo h1 {
        font-size: 128px;
        margin: 0;
    }
    #logo p {
        font-size: 48px;
        margin-bottom: 0;
    }
    #projects img {
        width: 350px;
        height: 250px;
    }
    @media (hover: hover){
        #projects img:hover {
            transform: scale(1.1); 
        }
    }
    #projects-top {
        overflow-x: hidden;
        gap: 32px;
        padding: 16px 32px;
    }
    #contacts p {
        margin: 8px
    }
    #rights{
        padding: 32px;
    }
    #rights h1{
        font-size: 32px;
    }
    #rights p{
        text-align: center;
        font-size: 24px;
    }
}